$title-icon: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/icono-01.svg';

.bar-footer {
	background-color: #4D0A7D; 
	border-color:transparent; 
}

.bar-icon {
	width: 2.5em;  
}

.opaque {
	opacity: 0.4; 
}